doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Key Detection
    script(type='text/javascript', src='http://www.cornify.com/js/cornify.js')
  body
    script.
      // 設定密碼，猜對會出現獨角獸 cornify
      const pressed = [];
      const password = 'helloword';

      window.addEventListener('keyup', (e) => {
          console.log(e.key)
          pressed.push(e.key);
          console.log(-password.length - 1);
          console.log(pressed.length - password.length);
          pressed.splice(-password.length-1, pressed.length - password.length);
          if (pressed.join('').includes(password)) {
            cornify_add();
            console.log('Good Job');
          }
          console.log(pressed);
      })